:root {
  --main-bg-color: #FFF;
  --main-font-color: #333;
  --header-bg: hsla(0, 100%, 100%, 1);
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* disable double tap to zoom */
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     margin:0;
	 padding:0;
}

body {
    background-color: var(--main-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin:0;
	padding:0;
	color: var(--main-font-color);
	font-family: 'Cabin', sans-serif;
}

/*
-------------------------------------------------------------------
HEADER
-------------------------------------------------------------------
*/

header {
	position: relative;
	padding: 2vmin;
	z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: var(--header-bg);
	box-shadow: 0 1.5vh 12px -12px #999;
}

h1 {
	white-space: nowrap;
	font-family: 'Licorice', cursive;
}

ul {
    list-style: none;
	width: 100%;
	display: flex;
	gap: 3vw;
	justify-content: flex-end;
}

/*
-------------------------------------------------------------------
HERO
-------------------------------------------------------------------
*/

#hero {
    width: 100vw;
    height: 60vh;
    background-color: hsla(45, 75%, 90%, 1);
}

/*
-------------------------------------------------------------------
GALLERY
-------------------------------------------------------------------
*/

h2 {
	white-space: nowrap;
	font-family: 'Licorice', cursive;
	font-size: 4em;
	margin: 0;
	padding: 0;
	width: 100vw;
	text-align: center;
}

#gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vmin;
	flex-wrap: wrap;
	margin: 5vmin;
}

#gallery img {
	width: 25vmin;
	height: 35vmin;
	flex-basis: 30vmin;
	box-shadow: 0 0 20px #999;
	object-fit: cover;
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #111;
		--main-font-color: #CCC;
	}
}
